<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/mkui-base.css"/>
	<link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<!--公用header-->
<% include ../public/header.html%>
<section>
	<h1 class="title"><%=article.title%></h1>
	<article class="article-cont pd-10">
		<img src="<%=article.img%>" width="100" alt=""><br/>
		<%-article.content%>
	</article>
	<!--如果用户登录，就有用户信息，判断用户的id和文章的作者是否是一个人-->
	<% if (user && (user._id == article.user)){ %>
	<div class="btn-group" data-user="<%=article.user%>">
		<a class="btn" href="/article/update/<%=article.id%>">编辑</a>
		<a class="btn" href="/article/delete/<%=article._id%>">删除</a>
	</div>
	<%}%>
</section>
   <!--公用footer-->
   <% include ../public/footer.html%>
<script>

	if(m('.btn-group').attr('data-id') == m('.btn-group').attr('data-user')){
		m('.btn-group').show();
	}
</script>
</body>
</html>