<header>
    <nav>
        <ul>
            <li><a href="/">Mkui博客</a></li>
            <%
            if(user){

            %>
                <li><a href="/article/add">发表文章</a></li>
                <li><a href="/users/logout">登出</a></li>
            <%
            }else{
            %>
                <li><a href="/users/reg">注册</a></li>
                <li><a href="/users/login">登录</a></li>
            <%
            }
            %>
        </ul>
        <form action="/article/list/1/2" method="get">
            <input type="text" name="keyword" value="<%=keyword%>">
            <button type="submit" value="search" name="searchBtn">搜索</button>
        </form>
    </nav>
</header>

<%
    if(success){
%>
<div class="tips">
    <ul>
        <li><%=success%></li>
    </ul>
</div>
<%
    }
%>

   <% if(error){%>
    <div class="tips">
        <ul>
            <li><%=error%></li>
        </ul>
    </div>
<%
}
%>

